
.images {

  border-radius: 5px;
  height: 250px;
/*  margin: auto;*/
/*  margin: 1rem;*/
margin-left: 75px;
margin-right: 10px;
margin-bottom: 2rem;
  position: relative;
  display: block;
  width: 250px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  float: left;
  padding: 20px;
  /*text-align: left;*/
}

.images > .img-container {
  height: 100%;
  overflow: hidden;

}
.images > .img-container > img {
  width: 100%
}

/*.images > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.images > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

*/
